In [ ]:
import warnings
import pandas as pd
from pathlib import Path

In [ ]:
# File Path
incidents_data_to_load = Path("incidents_part1_part2.csv")
school_metrics_data_to_load=Path("SPREE_SY2223_School_Metric_Scores (1).csv")

# Read Hospital General, Score, and Location Data File and store into Pandas DataFrames
incidents_data = pd.read_csv(incidents_data_to_load)
school_metrics_data = pd.read_csv(school_metrics_data_to_load)

In [ ]:
incidents_data.head()

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000439FB8B153CC52C0B6D18416A7F9...,3097150,0101000020110F00007AD170B738EE5FC136FD1FB6DC88...,13965196,18,3,2024-02-02 16:30:00+00,2024-02-02,11:30:00,11.0,2.024180e+11,300 BLOCK S 34TH ST,600,Thefts,-75.192608,39.950412,39.950412,-75.192608
1,NaN,3097416,NaN,17545922,17,1,2024-06-15 12:10:00+00,2024-06-15,08:10:00,8.0,2.024170e+11,2100 BLOCK SOUTH ST,600,Thefts,NaN,NaN,NaN,NaN
2,NaN,3097550,NaN,13065664,5,1,2024-01-06 20:35:00+00,2024-01-06,15:35:00,15.0,2.024050e+11,300 BLOCK ROCHELLE AV,600,Thefts,NaN,NaN,NaN,NaN
3,NaN,3098085,NaN,15737696,3,3,2024-04-26 21:13:00+00,2024-04-26,17:13:00,17.0,2.024030e+11,1100 BLOCK ELLSWORTH ST,1100,Fraud,NaN,NaN,NaN,NaN
4,0101000020E6100000B10E2EBA48C452C015DB8B059101...,3098523,0101000020110F0000117C9F5A8FE05FC117D42E37A291...,14865984,15,2,2024-03-15 11:17:00+00,2024-03-15,07:17:00,7.0,2.024150e+11,5500 BLOCK TULIP ST,600,Thefts,-75.066939,40.012238,40.012238,-75.066939

In [ ]:
incidents_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85529 entries, 0 to 85528
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   the_geom              79988 non-null  object
 1   cartodb_id            85529 non-null  int64
 2   the_geom_webmercator  79940 non-null  object
 3   objectid              85529 non-null  int64
 4   dc_dist               85529 non-null  int64
 5   psa                   85495 non-null  object
 6   dispatch_date_time    85529 non-null  object
 7   dispatch_date         85529 non-null  object
 8   dispatch_time         85529 non-null  object
 9   hour                  85527 non-null  float64
 10  dc_key                85529 non-null  float64
 11  location_block        85513 non-null  object
 12  ucr_general           85529 non-null  int64
 13  text_general_code     85529 non-null  object
 14  point_x               79940 non-null  float64
 15  point_y               79940 non-null  float64
 16  lat                   79940 non-null  float64
 17  lng                   79940 non-null  float64
dtypes: float64(6), int64(4), object(8)
memory usage: 11.7+ MB

In [ ]:
## 'cartodb_id' is the unique identifier for the crime incident record.
## 'dc_dist' is the code for the police district responsible for the area where the incident took place.
## 'text_general_code' provides a textual description of the incident type.
## 'ucr_general' provides a standardized crime code.
## 'location' specifies the geographic location of the incident.

In [ ]:
text_general_code_count=incidents_data['text_general_code'].nunique()
ucr_general_count=incidents_data['ucr_general'].nunique()
print("Number of unique general codes for incident type:", text_general_code_count)
print("Number of unique general ucr for incident type:", ucr_general_count)

Number of unique general codes for incident type: 31
Number of unique general ucr for incident type: 26

In [ ]:
# Calculate the number of unique general codes and UCR codes for incident type
text_general_code_count = incidents_data['text_general_code'].nunique()
ucr_general_count = incidents_data['ucr_general'].nunique()

print("Number of unique general codes for incident type:", text_general_code_count)
print("Number of unique general UCR codes for incident type:", ucr_general_count)

# Group incidents by their UCR code and list them
ucr_incidents = incidents_data.groupby('ucr_general')['text_general_code'].unique()

# Convert the groupby object to a DataFrame for better readability
ucr_incidents_df = ucr_incidents.reset_index()
ucr_incidents_df.columns = ['UCR General Code', 'Incidents']

ucr_incidents_df

Number of unique general codes for incident type: 31
Number of unique general UCR codes for incident type: 26

    UCR General Code                                          Incidents
0                100      [Homicide - Criminal, Homicide - Justifiable]
1                200                                             [Rape]
2                300              [Robbery Firearm, Robbery No Firearm]
3                400  [Aggravated Assault No Firearm, Aggravated Ass...
4                500   [Burglary Non-Residential, Burglary Residential]
5                600                       [Thefts, Theft from Vehicle]
6                700                              [Motor Vehicle Theft]
7                800                                   [Other Assaults]
8                900                                            [Arson]
9               1000                       [Forgery and Counterfeiting]
10              1100                                            [Fraud]
11              1200                                     [Embezzlement]
12              1300                        [Receiving Stolen Property]
13              1400                      [Vandalism/Criminal Mischief]
14              1500                                [Weapon Violations]
15              1600             [Prostitution and Commercialized Vice]
16              1700          [Other Sex Offenses (Not Commercialized)]
17              1800                   [Narcotic / Drug Law Violations]
18              1900                              [Gambling Violations]
19              2000             [Offenses Against Family and Children]
20              2100                      [DRIVING UNDER THE INFLUENCE]
21              2200                            [Liquor Law Violations]
22              2300                               [Public Drunkenness]
23              2400                               [Disorderly Conduct]
24              2500                               [Vagrancy/Loitering]
25              2600                               [All Other Offenses]

In [ ]:
# Calculate the number of unique general codes and UCR codes for incident type
dc_dist_count = incidents_data['dc_dist'].nunique()
psa_count = incidents_data['psa'].nunique()
objectid_count= incidents_data['objectid'].nunique()
dc_key_count=incidents_data['dc_key'].nunique()

print("Number police districts responsible for the areas where the incidents took place:", dc_dist_count)
print("Number police service areas where the incidents took place:", psa_count)
print("Number object ids for incidents:", objectid_count)
print("Number dc_key_counts for incidents:", dc_key_count)

Number police districts responsible for the areas where the incidents took place: 22
Number police service areas where the incidents took place: 6
Number object ids for incidents: 85529
Number dc_key_counts for incidents: 85520

In [ ]:
# Identify duplicates based on 'dc_key' 
duplicates = incidents_data[incidents_data.duplicated(subset=['dc_key'], keep=False)]

print("Duplicates based on 'dc_key':")
duplicates
#duplicates.count()

Duplicates based on 'dc_key':

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
19063,0101000020E610000008F53E9F52C952C0B36AC658DC00...,3178665,0101000020110F00001B96BE5E1EE95FC1AC6968E0D990...,18326613,25,4,2024-07-14 03:12:00+00,2024-07-13,23:12:00,23.0,2.024250e+11,3500 BLOCK N WARNOCK ST,400,Aggravated Assault Firearm,-75.145668,40.006724,40.006724,-75.145668
20439,0101000020E6100000CBBAA03A2DC352C0B7A5C464E005...,3180345,0101000020110F00008CA0BECDADDE5FC1A866C1066A96...,15265578,15,3,2024-04-08 18:39:00+00,2024-04-08,14:39:00,14.0,2.024150e+11,7400 BLOCK REVERE ST,400,Aggravated Assault Firearm,-75.049636,40.045910,40.045910,-75.049636
29540,0101000020E6100000F7BD76FEE7C952C0605B3FFDE7FA...,3191206,0101000020110F00002770E7171CEA5FC18153AE41408A...,18383386,6,1,2024-04-07 04:00:00+00,2024-04-07,00:00:00,9.0,2.024060e+11,900 BLOCK HAMILTON ST,100,Homicide - Criminal,-75.154785,39.960205,39.960205,-75.154785
32818,NaN,3197371,NaN,18383324,2,2,2024-05-21 04:00:00+00,2024-05-21,00:00:00,14.0,2.024020e+11,6000 BLOCK BINGHAM ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
32819,NaN,3197372,NaN,18383325,2,2,2024-05-21 04:00:00+00,2024-05-21,00:00:00,14.0,2.024020e+11,6000 BLOCK BINGHAM ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
33071,NaN,3197847,NaN,18383336,16,3,2024-04-25 04:00:00+00,2024-04-25,00:00:00,17.0,2.024160e+11,2500 BLOCK A ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
33329,NaN,3198336,NaN,18383347,22,4,2024-02-29 05:00:00+00,2024-02-29,00:00:00,23.0,2.024220e+11,3800 BLOCK MT PLEASANT AVE,100,Homicide - Criminal,NaN,NaN,NaN,NaN
33333,NaN,3198341,NaN,18383350,15,3,2024-04-09 04:00:00+00,2024-04-09,00:00:00,15.0,2.024150e+11,7400 BLOCK REVERE ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
33349,NaN,3198358,NaN,18383346,22,4,2024-02-29 05:00:00+00,2024-02-29,00:00:00,23.0,2.024220e+11,3800 BLOCK MT PLEASANT DR,100,Homicide - Criminal,NaN,NaN,NaN,NaN
33356,NaN,3198365,NaN,18383363,25,4,2024-07-14 04:00:00+00,2024-07-14,00:00:00,23.0,2.024250e+11,1000 BLOCK W VENANGO ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
34710,0101000020E61000006EBA6DF800CA52C04D0371E42201...,3200666,0101000020110F0000B558B28446EA5FC1DA3C23192891...,18385775,39,2,2024-02-13 05:00:00+00,2024-02-13,00:00:00,16.0,2.024390e+11,3600 BLOCK N 17TH ST,100,Homicide - Criminal,-75.156309,40.008877,40.008877,-75.156309
34711,0101000020E61000006EBA6DF800CA52C04D0371E42201...,3200667,0101000020110F0000B558B28446EA5FC1DA3C23192891...,18385776,39,2,2024-02-13 05:00:00+00,2024-02-13,00:00:00,16.0,2.024390e+11,3600 BLOCK N 17TH ST,100,Homicide - Criminal,-75.156309,40.008877,40.008877,-75.156309
38689,0101000020E6100000C3C669468ECB52C00424D4EB1AFF...,3207106,0101000020110F0000DF225761E9EC5FC14D4C6E9BE78E...,18388321,22,2,2024-01-14 05:00:00+00,2024-01-14,00:00:00,1.0,2.024220e+11,2400 BLOCK N MYRTLEWOOD ST,100,Homicide - Criminal,-75.180559,39.993009,39.993009,-75.180559
38694,0101000020E6100000C3C669468ECB52C00424D4EB1AFF...,3207111,0101000020110F0000DF225761E9EC5FC14D4C6E9BE78E...,18388322,22,2,2024-01-14 05:00:00+00,2024-01-14,00:00:00,1.0,2.024220e+11,2400 BLOCK N MYRTLEWOOD ST,100,Homicide - Criminal,-75.180559,39.993009,39.993009,-75.180559
39609,0101000020E6100000FA1222C7F3CA52C018546529A3FF...,3208446,0101000020110F00005BDB82F3E2EB5FC13E1ECFA47E8F...,18387784,39,3,2024-02-26 05:00:00+00,2024-02-26,00:00:00,18.0,2.024390e+11,2700 BLOCK N RINGGOLD ST,100,Homicide - Criminal,-75.171129,39.997167,39.997167,-75.171129
46657,0101000020E6100000F7BD76FEE7C952C0605B3FFDE7FA...,3218101,0101000020110F00002770E7171CEA5FC18153AE41408A...,14486706,6,1,2024-02-07 13:50:00+00,2024-02-07,08:50:00,8.0,2.024060e+11,900 BLOCK HAMILTON ST,400,Aggravated Assault No Firearm,-75.154785,39.960205,39.960205,-75.154785
50399,0101000020E6100000B14E74E1F0CA52C06727E6CD9FFF...,3223090,0101000020110F0000A5F3B107DEEB5FC18DA3F0EB7A8F...,13413250,39,3,2024-02-01 22:56:00+00,2024-02-01,17:56:00,17.0,2.024390e+11,2700 BLOCK N RINGGOLD ST,400,Aggravated Assault No Firearm,-75.170952,39.997064,39.997064,-75.170952
83914,0101000020E61000001C47288D43CD52C0157A5803EFFB...,3259718,0101000020110F0000331F5B23D0EF5FC1E218C1B6638B...,16375583,16,2,2024-05-21 01:34:00+00,2024-05-20,21:34:00,21.0,2.024160e+11,4100 BLOCK PARRISH ST,800,Other Assaults,-75.207248,39.968232,39.968232,-75.207248

In [ ]:
district_psa_df=pd.DataFrame({
    'District':incidents_data['dc_dist'],
    'Police Service Area':incidents_data['psa']
})

# Sort by 'District' first and then by 'Police Service Area'
district_psa_df = district_psa_df.sort_values(by=['District', 'Police Service Area'])

# Reset index if you want a clean index
district_psa_df = district_psa_df.reset_index(drop=True)

district_psa_df

       District Police Service Area
0             1                   1
1             1                   1
2             1                   1
3             1                   1
4             1                   1
...         ...                 ...
85524        77                 NaN
85525        77                 NaN
85526        77                 NaN
85527        77                 NaN
85528        77                 NaN

[85529 rows x 2 columns]

In [ ]:
district_df=district_psa_df.groupby('District')['Police Service Area'].unique()

# Remove NaN values from the unique arrays
district_df = district_df.apply(lambda x: x[~pd.isnull(x)])

# Convert the series to a DataFrame
district_df = district_df.reset_index()

# Rename columns for clarity
district_df.columns = ['District', 'Unique Police Service Areas']

district_df

# Make an output for the new dataset
output_file_path= 'district_df.csv'

    District Unique Police Service Areas
0          1                      [1, 2]
1          2                   [1, 2, 3]
2          3                   [1, 2, 3]
3          5                   [1, 2, 3]
4          6                   [1, 2, 3]
5          7                   [1, 2, 3]
6          8                   [1, 2, 3]
7          9             [1, 2, 3, 4, 5]
8         12                [1, 2, 3, 4]
9         14                [1, 2, 3, 4]
10        15                   [1, 2, 3]
11        16                   [1, 2, 3]
12        17                   [1, 2, 3]
13        18                   [1, 2, 3]
14        19                   [1, 2, 3]
15        22                [1, 2, 3, 4]
16        24                   [1, 2, 3]
17        25                [1, 2, 3, 4]
18        26                   [1, 2, 3]
19        35                   [1, 2, 3]
20        39                   [1, 2, 3]
21        77                         [A]

In [ ]:
incident_code_df=pd.DataFrame({
    'UCR Code':incidents_data['ucr_general'],
    'General Crime Category':incidents_data['text_general_code']
})

# Sort by 'UCR Code' first and then by 'General Crime Category'
incident_code_df = incident_code_df.sort_values(by=['UCR Code'])

# Reset index if you want a clean index
incident_code_df = incident_code_df.reset_index(drop=True)

incident_code_df

       UCR Code General Crime Category
0           100    Homicide - Criminal
1           100    Homicide - Criminal
2           100    Homicide - Criminal
3           100    Homicide - Criminal
4           100    Homicide - Criminal
...         ...                    ...
85524      2600     All Other Offenses
85525      2600     All Other Offenses
85526      2600     All Other Offenses
85527      2600     All Other Offenses
85528      2600     All Other Offenses

[85529 rows x 2 columns]

In [ ]:
incident_df=incident_code_df.groupby('UCR Code')['General Crime Category'].unique()

# Remove NaN values from the unique arrays
incident_df = incident_df.apply(lambda x: x[~pd.isnull(x)])

# Convert the series to a DataFrame
incident_df = incident_df.reset_index()

# Rename columns for clarity
incident_df.columns = ['UCR Code','General Crime Category']

incident_df

# Make an output for the new dataset
output_file_path= 'incident_df.csv'

    UCR Code                             General Crime Category
0        100      [Homicide - Criminal, Homicide - Justifiable]
1        200                                             [Rape]
2        300              [Robbery No Firearm, Robbery Firearm]
3        400  [Aggravated Assault Firearm, Aggravated Assaul...
4        500   [Burglary Residential, Burglary Non-Residential]
5        600                       [Thefts, Theft from Vehicle]
6        700                              [Motor Vehicle Theft]
7        800                                   [Other Assaults]
8        900                                            [Arson]
9       1000                       [Forgery and Counterfeiting]
10      1100                                            [Fraud]
11      1200                                     [Embezzlement]
12      1300                        [Receiving Stolen Property]
13      1400                      [Vandalism/Criminal Mischief]
14      1500                                [Weapon Violations]
15      1600             [Prostitution and Commercialized Vice]
16      1700          [Other Sex Offenses (Not Commercialized)]
17      1800                   [Narcotic / Drug Law Violations]
18      1900                              [Gambling Violations]
19      2000             [Offenses Against Family and Children]
20      2100                      [DRIVING UNDER THE INFLUENCE]
21      2200                            [Liquor Law Violations]
22      2300                               [Public Drunkenness]
23      2400                               [Disorderly Conduct]
24      2500                               [Vagrancy/Loitering]
25      2600                               [All Other Offenses]

In [ ]:
school_metrics_data.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
0,2022-2023,1010,John Bartram High School,High School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1,2022-2023,1010,John Bartram High School,High School,% of Students Attending Less Than 80% of Instr...,292.0,617.0,47.3,NaN,NaN,NaN
2,2022-2023,1010,John Bartram High School,High School,% of Students Attending 80-85% of Instructiona...,51.0,617.0,8.3,NaN,NaN,NaN
3,2022-2023,1010,John Bartram High School,High School,% of Students Attending 85-90% of Instructiona...,66.0,617.0,10.7,NaN,NaN,NaN
4,2022-2023,1010,John Bartram High School,High School,% of Students Attending at Least 90% of Instru...,208.0,617.0,33.7,33.8,-0.1,Maintaining

In [ ]:
school_metrics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83980 entries, 0 to 83979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  83980 non-null  object
 1   school_id            83980 non-null  int64
 2   school_name          83980 non-null  object
 3   report_type          83980 non-null  object
 4   metric               83980 non-null  object
 5   numerator            20464 non-null  float64
 6   denominator          17254 non-null  float64
 7   metric_score         83980 non-null  object
 8   score_previous       71701 non-null  object
 9   score_change         71706 non-null  object
 10  tier                 11507 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 7.0+ MB

In [ ]:
#Calculate the number of schools
schools_count=school_metrics_data['school_id'].nunique()
print("Number of unique schools:",schools_count)

Number of unique schools: 294

In [ ]:
#Calculate the number of unique metrics
metrics_count=school_metrics_data['metric'].nunique()
print("Number of unique metrics:",metrics_count)

# List the unique metrics
unique_metrics = school_metrics_data['metric'].unique()
print("Unique metrics:", unique_metrics)

Number of unique metrics: 260
Unique metrics: ['Admission Type'
 '% of Students Attending Less Than 80% of Instructional Days'
 '% of Students Attending 80-85% of Instructional Days'
 '% of Students Attending 85-90% of Instructional Days'
 '% of Students Attending at Least 90% of Instructional Days'
 '% of Students Attending 90-95% of Instructional Days'
 '% of Students Attending at Least 95% of Instructional Days'
 'Number of Dropouts - Last School of Touch (Grades 7-12)'
 '# of Students Served Over the Full Year' 'October 1 Enrollment'
 '% of Students Who Are American Indian/Alaskan Native'
 '% of Students Who Are Asian'
 '% of Students Who Are Black/African American'
 '% of Students Who Are Economically Disadvantaged'
 '% of Students Who Are English Learners'
 '% of Students Who Are Hispanic/Latino'
 '% of Students Who Are Multiracial'
 '% of Students Who Are Native Hawaiian/Alaskan Native'
 '% of Students Who Are Special Education' '% of Students Who Are White'
 '% of Students Completing the FAFSA by End of 12th Grade'
 'First-Fall Matriculation' 'Score Level,  All Students'
 'Score Level,  American Indian/Alaskan Native' 'Score Level,  Asian'
 'Score Level,  Black/African American'
 'Score Level,  Economically Disadvantaged'
 'Score Level,  English Learners' 'Score Level,  Hispanic/Latino'
 'Score Level,  Multiracial'
 'Score Level,  Native Hawaiian/Pacific Islander'
 'Score Level,  Special Education' 'Score Level,  White'
 'Four-Year Cohort Graduation Rate'
 'Four-Year Cohort Graduation Rate, American Indian/Alaskan Native'
 'Four-Year Cohort Graduation Rate, Asian'
 'Four-Year Cohort Graduation Rate, Black/African American'
 'Four-Year Cohort Graduation Rate, Economically Disadvantaged'
 'Four-Year Cohort Graduation Rate, English Learners'
 'Four-Year Cohort Graduation Rate, Hispanic/Latino'
 'Four-Year Cohort Graduation Rate, Multiracial'
 'Four-Year Cohort Graduation Rate, Native Hawaiian/Pacific Islander'
 'Four-Year Cohort Graduation Rate, Special Education'
 'Four-Year Cohort Graduation Rate, White'
 'Keystone Algebra I: % of Students Below Basic, Grade 11'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  American Indian/Alaskan Native'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  Asian'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  Black/African American'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  Economically Disadvantaged'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  English Learners'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  Hispanic/Latino'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  Multiracial'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  Native Hawaiian/Pacific Islander'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  Special Education'
 'Keystone Algebra I: % of Students Below Basic, Grade 11,  White'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  American Indian/Alaskan Native'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Asian'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Black/African American'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Economically Disadvantaged'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  English Learners'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Hispanic/Latino'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Multiracial'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Native Hawaiian/Pacific Islander'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Special Education'
 'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  White'
 'Keystone Biology: % of Students Below Basic, Grade 11'
 'Keystone Biology: % of Students Below Basic, Grade 11,  American Indian/Alaskan Native'
 'Keystone Biology: % of Students Below Basic, Grade 11,  Asian'
 'Keystone Biology: % of Students Below Basic, Grade 11,  Black/African American'
 'Keystone Biology: % of Students Below Basic, Grade 11,  Economically Disadvantaged'
 'Keystone Biology: % of Students Below Basic, Grade 11,  English Learners'
 'Keystone Biology: % of Students Below Basic, Grade 11,  Hispanic/Latino'
 'Keystone Biology: % of Students Below Basic, Grade 11,  Multiracial'
 'Keystone Biology: % of Students Below Basic, Grade 11,  Native Hawaiian/Pacific Islander'
 'Keystone Biology: % of Students Below Basic, Grade 11,  Special Education'
 'Keystone Biology: % of Students Below Basic, Grade 11,  White'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  American Indian/Alaskan Native'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Asian'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Black/African American'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Economically Disadvantaged'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  English Learners'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Hispanic/Latino'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Multiracial'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Native Hawaiian/Pacific Islander'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Special Education'
 'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  White'
 'Keystone Literature: % of Students Below Basic, Grade 11'
 'Keystone Literature: % of Students Below Basic, Grade 11,  American Indian/Alaskan Native'
 'Keystone Literature: % of Students Below Basic, Grade 11,  Asian'
 'Keystone Literature: % of Students Below Basic, Grade 11,  Black/African American'
 'Keystone Literature: % of Students Below Basic, Grade 11,  Economically Disadvantaged'
 'Keystone Literature: % of Students Below Basic, Grade 11,  English Learners'
 'Keystone Literature: % of Students Below Basic, Grade 11,  Hispanic/Latino'
 'Keystone Literature: % of Students Below Basic, Grade 11,  Multiracial'
 'Keystone Literature: % of Students Below Basic, Grade 11,  Native Hawaiian/Pacific Islander'
 'Keystone Literature: % of Students Below Basic, Grade 11,  Special Education'
 'Keystone Literature: % of Students Below Basic, Grade 11,  White'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  American Indian/Alaskan Native'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Asian'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Black/African American'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Economically Disadvantaged'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  English Learners'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Hispanic/Latino'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Multiracial'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Native Hawaiian/Pacific Islander'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Special Education'
 'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  White'
 '% of 11th Grade Students Proficient on All Three Keystones'
 '% of 11th Grade Students Proficient on All Three Keystones - American Indian/Alaskan Native'
 '% of 11th Grade Students Proficient on All Three Keystones - Asian'
 '% of 11th Grade Students Proficient on All Three Keystones - Black/African American'
 '% of 11th Grade Students Proficient on All Three Keystones - Economically Disadvantaged'
 '% of 11th Grade Students Proficient on All Three Keystones - English Learner'
 '% of 11th Grade Students Proficient on All Three Keystones - Hispanic/Latino'
 '% of 11th Grade Students Proficient on All Three Keystones - Multiracial'
 '% of 11th Grade Students Proficient on All Three Keystones - Native Hawaiian/Alaskan Native'
 '% of 11th Grade Students Proficient on All Three Keystones - Special Education'
 '% of 11th Grade Students Proficient on All Three Keystones - White'
 '% of 12th Grade CTE Students Meeting Industry Standards'
 'Ninth-Grade On-Track Rate'
 '% of Students Receiving Zero Out-of-School Suspensions'
 'Percent of Metrics Improving,  All Students'
 'Percent of Metrics Improving,  American Indian/Alaskan Native'
 'Percent of Metrics Improving,  Asian'
 'Percent of Metrics Improving,  Black/African American'
 'Percent of Metrics Improving,  Economically Disadvantaged'
 'Percent of Metrics Improving,  English Learners'
 'Percent of Metrics Improving,  Hispanic/Latino'
 'Percent of Metrics Improving,  Multiracial'
 'Percent of Metrics Improving,  Native Hawaiian/Pacific Islander'
 'Percent of Metrics Improving,  Special Education'
 'Percent of Metrics Improving,  White'
 'Percent of Targets Met,  All Students'
 'Percent of Targets Met,  American Indian/Alaskan Native'
 'Percent of Targets Met,  Asian'
 'Percent of Targets Met,  Black/African American'
 'Percent of Targets Met,  Economically Disadvantaged'
 'Percent of Targets Met,  English Learners'
 'Percent of Targets Met,  Hispanic/Latino'
 'Percent of Targets Met,  Multiracial'
 'Percent of Targets Met,  Native Hawaiian/Pacific Islander'
 'Percent of Targets Met,  Special Education'
 'Percent of Targets Met,  White'
 'PSSA ELA: % of Students Below Basic, Grades 3-8'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  American Indian/Alaskan Native'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Asian'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Black/African American'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Economically Disadvantaged'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  English Learners'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Hispanic/Latino'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Multiracial'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Special Education'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  White'
 'PSSA ELA: % of Students Below Basic, Grade 3'
 'PSSA ELA: % of Students Below Basic, Grade 3,  American Indian/Alaskan Native'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Asian'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Black/African American'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Economically Disadvantaged'
 'PSSA ELA: % of Students Below Basic, Grade 3,  English Learners'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Hispanic/Latino'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Multiracial'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Special Education'
 'PSSA ELA: % of Students Below Basic, Grade 3,  White'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, American Indian/Alaskan Native'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Asian'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Black/African American'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Economically Disadvantaged'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, English Learners'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Hispanic/Latino'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Multiracial'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Special Education'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, White'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, American Indian/Alaskan Native'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Asian'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Black/African American'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Economically Disadvantaged'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, English Learners'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Hispanic/Latino'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Multiracial'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Special Education'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, White'
 'PSSA Math: % of Students Below Basic, Grades 3-8'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  American Indian/Alaskan Native'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Asian'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Black/African American'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Economically Disadvantaged'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  English Learners'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Hispanic/Latino'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Multiracial'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Special Education'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  White'
 'PSSA Math: % of Students Below Basic, Grade 3'
 'PSSA Math: % of Students Below Basic, Grade 3,  American Indian/Alaskan Native'
 'PSSA Math: % of Students Below Basic, Grade 3,  Asian'
 'PSSA Math: % of Students Below Basic, Grade 3,  Black/African American'
 'PSSA Math: % of Students Below Basic, Grade 3,  Economically Disadvantaged'
 'PSSA Math: % of Students Below Basic, Grade 3,  English Learners'
 'PSSA Math: % of Students Below Basic, Grade 3,  Hispanic/Latino'
 'PSSA Math: % of Students Below Basic, Grade 3,  Multiracial'
 'PSSA Math: % of Students Below Basic, Grade 3,  Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Below Basic, Grade 3,  Special Education'
 'PSSA Math: % of Students Below Basic, Grade 3,  White'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, American Indian/Alaskan Native'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Asian'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Black/African American'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Economically Disadvantaged'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, English Learners'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Hispanic/Latino'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Multiracial'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Special Education'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, White'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  American Indian/Alaskan Native'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Asian'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Black/African American'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Economically Disadvantaged'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  English Learners'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Hispanic/Latino'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Multiracial'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Special Education'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  White'
 'PSSA Science: % of Students Below Basic, Grades 4-8'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  American Indian/Alaskan Native'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Asian'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Black/African American'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Economically Disadvantaged'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  English Learners'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Hispanic/Latino'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Multiracial'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Native Hawaiian/Pacific Islander'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Special Education'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  White'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  American Indian/Alaskan Native'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Asian'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Black/African American'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Economically Disadvantaged'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  English Learners'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Hispanic/Latino'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Multiracial'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Native Hawaiian/Pacific Islander'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Special Education'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  White'
 '% of Teachers Rated as Distinguished'
 '% of Teachers Rated as Proficient'
 '% of Teachers Attending at Least 90% of Instructional Days'
 'Year-to-Year Teacher Retention']

In [ ]:
#Calculate the number of Report Types
report_types_count=school_metrics_data['report_type'].nunique()
print("Number of report types:",report_types_count)

# List the Report Types
unique_reports = school_metrics_data['report_type'].unique()
print("Report Types:", unique_reports)

Number of report types: 4
Report Types: ['High School' 'Middle School' 'K-8 School' 'Elementary School']

In [ ]:
import geopandas as gpd

# Read the GeoJSON file into a GeoDataFrame
geo_schools_df = gpd.read_file('Schools.geojson')

# If you want to convert it to a pandas DataFrame (which will drop the geometry column), you can use:
schools_df = geo_schools_df.drop(columns='geometry')

# Print the GeoDataFrame and DataFrame
geo_schools_df

,OBJECTID,AUN,SCHOOL_NUM,LOCATION_ID,SCHOOL_NAME,SCHOOL_NAME_LABEL,STREET_ADDRESS,ZIP_CODE,PHONE_NUMBER,ACTIVE,GRADE_LEVEL,GRADE_ORG,ENROLLMENT,TYPE,TYPE_SPECIFIC,geometry
0,1,226519902.0,NaN,None,WEST CATHOLIC PREPARATORY HIGH SCHOOL,WEST PHILADELPHIA CATHOLIC HIGH SCHOOL,4501-17 CHESTNUT ST,19139,(215) 386-2244,O,HIGH SCHOOL,9-12,NaN,3,ARCHDIOCESE,POINT (-75.21170 39.95725)
1,2,226519382.0,NaN,None,ST THOMAS AQUINAS SCHOOL,ST THOMAS AQUINAS SCHOOL,1616 S 17TH ST,19145,(215) 334-0878,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,PRIVATE,POINT (-75.17469 39.93040)
2,3,226519222.0,NaN,None,ST RAYMOND OF PENAFORT SCHOOL,ST RAYMOND SCHOOL,1330 VERNON RD,19150,(215) 548-1919,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,PRIVATE,POINT (-75.16712 40.07199)
3,4,226519422.0,NaN,None,BLESSED TRINITY REGIONAL CATHOLIC SCHOOL,BLESSED TRINITY REGIONAL CATHOLIC SCHOOL,3033 LEVICK ST,19149,(215) 338-9797,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,ARCHDIOCESE,POINT (-75.06043 40.03079)
4,5,226519142.0,NaN,None,ST PETER THE APOSTLE SCHOOL,ST PETER THE APOSTLE SCHOOL,1009 N 5TH ST,19123,(215) 922-5958,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,ARCHDIOCESE,POINT (-75.14488 39.96959)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,487,NaN,NaN,8890,ONE BRIGHT RAY-SIMPSON CAMPUS,ONE BRIGHT RAY - SIMPSON EVENING,1142 E ERIE AVE,19124,(215) 744-6000,None,HIGH SCHOOL,9-12,131.0,1,CONTRACTED,POINT (-75.10560 40.00528)
487,488,133513315.0,8149.0,3406,JOHN B STETSON MIDDLE SCHOOL,JOHN B STETSON MIDDLE SCHOOL CONTINUATION ACADEMY,3200 B ST,19134,(215) 400-9150,None,None,5-8,19.0,1,CONTRACTED,POINT (-75.12564 39.99873)
488,489,NaN,NaN,None,None,WISSAHICKON CHARTER SCHOOL,815 E WASHINGTON LN,19138,(267) 774-4370,None,ELEMENTARY/MIDDLE,K-8,NaN,2,CHARTER,POINT (-75.17322 40.05205)
489,490,NaN,NaN,None,EXCEL ACADEMY CENTRAL,EXCEL ACADEMY CENTRAL,201 E OLNEY AVE,19120,None,None,HIGH SCHOOL,9-12,177.0,1,CONTRACTED,POINT (-75.11804 40.03526)
490,491,NaN,NaN,None,BETHEL BAPTIST ACADEMY,BETHEL BAPTIST ACADEMY,2080 CASTOR AVE,19134,(215) 426-1909,None,ELEMENTARY/MIDDLE/HIGH,PREK-12,NaN,3,PRIVATE,POINT (-75.09834 39.99856)

In [ ]:
schools_df

,OBJECTID,AUN,SCHOOL_NUM,LOCATION_ID,SCHOOL_NAME,SCHOOL_NAME_LABEL,STREET_ADDRESS,ZIP_CODE,PHONE_NUMBER,ACTIVE,GRADE_LEVEL,GRADE_ORG,ENROLLMENT,TYPE,TYPE_SPECIFIC
0,1,226519902.0,NaN,None,WEST CATHOLIC PREPARATORY HIGH SCHOOL,WEST PHILADELPHIA CATHOLIC HIGH SCHOOL,4501-17 CHESTNUT ST,19139,(215) 386-2244,O,HIGH SCHOOL,9-12,NaN,3,ARCHDIOCESE
1,2,226519382.0,NaN,None,ST THOMAS AQUINAS SCHOOL,ST THOMAS AQUINAS SCHOOL,1616 S 17TH ST,19145,(215) 334-0878,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,PRIVATE
2,3,226519222.0,NaN,None,ST RAYMOND OF PENAFORT SCHOOL,ST RAYMOND SCHOOL,1330 VERNON RD,19150,(215) 548-1919,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,PRIVATE
3,4,226519422.0,NaN,None,BLESSED TRINITY REGIONAL CATHOLIC SCHOOL,BLESSED TRINITY REGIONAL CATHOLIC SCHOOL,3033 LEVICK ST,19149,(215) 338-9797,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,ARCHDIOCESE
4,5,226519142.0,NaN,None,ST PETER THE APOSTLE SCHOOL,ST PETER THE APOSTLE SCHOOL,1009 N 5TH ST,19123,(215) 922-5958,O,ELEMENTARY/MIDDLE,PREK-8,NaN,3,ARCHDIOCESE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,487,NaN,NaN,8890,ONE BRIGHT RAY-SIMPSON CAMPUS,ONE BRIGHT RAY - SIMPSON EVENING,1142 E ERIE AVE,19124,(215) 744-6000,None,HIGH SCHOOL,9-12,131.0,1,CONTRACTED
487,488,133513315.0,8149.0,3406,JOHN B STETSON MIDDLE SCHOOL,JOHN B STETSON MIDDLE SCHOOL CONTINUATION ACADEMY,3200 B ST,19134,(215) 400-9150,None,None,5-8,19.0,1,CONTRACTED
488,489,NaN,NaN,None,None,WISSAHICKON CHARTER SCHOOL,815 E WASHINGTON LN,19138,(267) 774-4370,None,ELEMENTARY/MIDDLE,K-8,NaN,2,CHARTER
489,490,NaN,NaN,None,EXCEL ACADEMY CENTRAL,EXCEL ACADEMY CENTRAL,201 E OLNEY AVE,19120,None,None,HIGH SCHOOL,9-12,177.0,1,CONTRACTED
490,491,NaN,NaN,None,BETHEL BAPTIST ACADEMY,BETHEL BAPTIST ACADEMY,2080 CASTOR AVE,19134,(215) 426-1909,None,ELEMENTARY/MIDDLE/HIGH,PREK-12,NaN,3,PRIVATE

In [ ]:
# Read the GeoJSON file into a GeoDataFrame
geo_police_df = gpd.read_file('Police_Stations.geojson')

# If you want to convert it to a pandas DataFrame (which will drop the geometry column), you can use:
police_df = geo_police_df.drop(columns='geometry')

# Print the GeoDataFrame and DataFrame
geo_police_df

,OBJECTID,DISTRICT_NUMBER,LOCATION,TELEPHONE_NUMBER,RULEID,geometry
0,1,7,Bustleton Ave & Bowler St,686-3070,Rule_1,POINT (-75.03270 40.09098)
1,2,14,Haines St & Germantown Ave,686-3140,Rule_1,POINT (-75.17700 40.03843)
2,3,8,Academy Rd & Red Lion Rd,686-3080,Rule_1,POINT (-74.99730 40.08011)
3,4,2,Harbison Ave & Levick St,686-3020,Rule_1,POINT (-75.06325 40.03149)
4,5,35,N Broad St & Champlost St,686-3350,Rule_1,POINT (-75.14365 40.04450)
5,6,15,Harbison Ave & Levick St,686-3150,Rule_1,POINT (-75.06325 40.03149)
6,7,5,Ridge Ave & Cinnaminson St,686-3050,Rule_1,POINT (-75.22440 40.04020)
7,8,39,22nd St & Hunting Park Ave,686-3390,Rule_1,POINT (-75.16425 40.01090)
8,9,25,3901 Whitaker Ave,686-3250,Rule_1,POINT (-75.12249 40.00874)
9,10,22,17th St & Montgomery Ave,686-3220,Rule_1,POINT (-75.16240 39.98079)
10,11,24,3901 Whitaker Ave,686-3240,Rule_1,POINT (-75.12249 40.00874)
11,12,26,E Girard Ave & Montgomery Ave,686-3260,Rule_1,POINT (-75.12708 39.97132)
12,13,19,61st St & Thompson St,686-3190,Rule_1,POINT (-75.24090 39.97132)
13,14,16,39th St & Lancaster Ave,686-3160,Rule_1,POINT (-75.20015 39.96193)
14,15,9,20th St & Pennsylvania Ave,686-3090,Rule_1,POINT (-75.17159 39.96080)
15,16,6,11th St & Winter St,686-3060,Rule_1,POINT (-75.15719 39.95684)
16,17,18,55th St & Pine St,686-3180,Rule_1,POINT (-75.23217 39.95429)
17,18,17,20th St & Federal St,686-3170,Rule_1,POINT (-75.17676 39.93724)
18,19,3,11th St & Wharton St,686-3030,Rule_1,POINT (-75.16229 39.93345)
19,20,12,65th St & Woodland Ave,686-3120,Rule_1,POINT (-75.23434 39.92556)
20,21,1,24th St & Wolf St,686-3010,Rule_1,POINT (-75.18693 39.92407)
21,22,0,Police Headquarters,,Rule_1,POINT (-75.15235 39.95454)
22,23,0,Center City District,,Rule_1,POINT (-75.15194 39.94926)
23,24,0,40th & Chestnut-U-Penn,,Rule_1,POINT (-75.20302 39.95660)

In [ ]:
geo_police_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OBJECTID          24 non-null     int64
 1   DISTRICT_NUMBER   24 non-null     int64
 2   LOCATION          24 non-null     object
 3   TELEPHONE_NUMBER  24 non-null     object
 4   RULEID            24 non-null     object
 5   geometry          24 non-null     geometry
dtypes: geometry(1), int64(2), object(3)
memory usage: 1.3+ KB

In [ ]:
police_df

,OBJECTID,DISTRICT_NUMBER,LOCATION,TELEPHONE_NUMBER,RULEID
0,1,7,Bustleton Ave & Bowler St,686-3070,Rule_1
1,2,14,Haines St & Germantown Ave,686-3140,Rule_1
2,3,8,Academy Rd & Red Lion Rd,686-3080,Rule_1
3,4,2,Harbison Ave & Levick St,686-3020,Rule_1
4,5,35,N Broad St & Champlost St,686-3350,Rule_1
5,6,15,Harbison Ave & Levick St,686-3150,Rule_1
6,7,5,Ridge Ave & Cinnaminson St,686-3050,Rule_1
7,8,39,22nd St & Hunting Park Ave,686-3390,Rule_1
8,9,25,3901 Whitaker Ave,686-3250,Rule_1
9,10,22,17th St & Montgomery Ave,686-3220,Rule_1
10,11,24,3901 Whitaker Ave,686-3240,Rule_1
11,12,26,E Girard Ave & Montgomery Ave,686-3260,Rule_1
12,13,19,61st St & Thompson St,686-3190,Rule_1
13,14,16,39th St & Lancaster Ave,686-3160,Rule_1
14,15,9,20th St & Pennsylvania Ave,686-3090,Rule_1
15,16,6,11th St & Winter St,686-3060,Rule_1
16,17,18,55th St & Pine St,686-3180,Rule_1
17,18,17,20th St & Federal St,686-3170,Rule_1
18,19,3,11th St & Wharton St,686-3030,Rule_1
19,20,12,65th St & Woodland Ave,686-3120,Rule_1
20,21,1,24th St & Wolf St,686-3010,Rule_1
21,22,0,Police Headquarters,,Rule_1
22,23,0,Center City District,,Rule_1
23,24,0,40th & Chestnut-U-Penn,,Rule_1